<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.springboot2.mapper.PayMapper">

    <select id="selectPayInfoOnCondition" resultType="com.springboot.springboot2.pojo.PayInfo">
        SELECT
        payInfo.pay_id,
        payInfo.building_id,
        payInfo.room_id,
        u.userid
        FROM
        (
        SELECT p.pay_id, b.building_id, r.room_id, f.floor_id
        FROM
        (SELECT pay_id, pay_room_id, pay_date FROM pay
        <where>
            <if test="start != null and end != null">
                pay_date BETWEEN #{start} AND #{end}
            </if>
        </where>
        ) p
        JOIN building b ON 1=1
        JOIN
        (SELECT room_id, room_floor_id FROM room
        <where>
            <if test="floorId != null">
                room_floor_id = #{floorId}
            </if>
        </where>
        UNION
        SELECT r.room_id, r.room_floor_id
        FROM room r
        JOIN floor f ON r.room_floor_id = f.floor_id
        <where>
            <if test="buildingId != null and floorId == null">
                f.belong_building = #{buildingId}
            </if>
        </where>
        ) r ON p.pay_room_id = r.room_id
        JOIN floor f ON r.room_floor_id = f.floor_id
        JOIN building b2 ON f.belong_building = b2.building_id
        ) payInfo
        LEFT JOIN
        (
        SELECT userid, user_roomid
        FROM user
        <where>
            <if test="username != null and username != ''">
                username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="idCard != null and idCard != ''">
                AND idCard LIKE CONCAT('%', #{idCard}, '%')
            </if>
        </where>
        ) u ON u.user_roomid = payInfo.floor_id
    </select>

</mapper>
